name: Distribute Application

on:
  push:
    tags: [ "release*" ]

jobs:
  build:
    uses: sprintf/lemon-pi-meringue/.github/workflows/base-build.yml@main

  create-docker:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: sync code
        uses: actions/checkout@v4
      - name: pull in previous artifact
        uses: actions/download-artifact@v4
        with:
          name: bootJar
          path: build/libs

      - id: 'auth'
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.MERINGUE_UPLOAD_CREDENTIALS }}'

      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v2'

      - name: 'Configure Docker'
        run: gcloud auth configure-docker us.gcr.io

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push meringue image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: us.gcr.io/meringue/meringue:${{ github.sha }}
          cache-from: type=gha,scope=meringue
          cache-to: type=gha,mode=max,scope=meringue

#      - name: Build and push envoy image
#        uses: docker/build-push-action@v6
#        with:
#          context: ./envoy
#          push: true
#          tags: us.gcr.io/meringue/envoy:${{ github.sha }}
#          cache-from: type=gha,scope=envoy
#          cache-to: type=gha,mode=max,scope=envoy

