
name: Kotlin Application Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  call-workflow:
    uses: sprintf/lemon-pi-meringue/.github/workflows/base-build.yml@main
